*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section-1{
    display: flex;
}

.left-side{
    background-color: #151515;
    color: #FFFFFF;
    width: 31vw;
    height: 115vh;
}

.hero-image img{
    height: 115vh;
    width: 40vw;
}

.hero-image p{
    position: absolute;
    font-family: 'Outfit', sans-serif;
    font-size: 1.3rem;
    width: 15em;
    left: 67%;
    top: 25%;
    line-height: 32px;
}

h1{
    font-family: 'Big Shoulders Display';
    position: absolute;
    font-size: 6rem;
    width: 5em;
    font-weight: 900;
    line-height: 88px;
    left: 11vw;
    top: 25%;
}

.button{
    position: absolute;
    top: 60%;
    left: 67%;
}

.location{
    display: block;
    font-family: 'Big Shoulders Display';
    background-color: #151515;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 3.6px;
    text-decoration: none;
    height: 72px;
    width: 204px;
    padding-top: 25px;
    text-align: center;
}

.button img{
    position: absolute;
    background-color: #D5966C;
    width: 56px;
    height: 72px;
    right: -55px;
    top: 0px;
    padding: 20px;
}